<!--
作者：yoyo
时间：2017-07-12
描述：page-category
-->
<script>
	$(document).ready(function(){
		document.getElementById("category-content").onscroll = function(){
			var ccst = $("#category-content").scrollTop();
			var r = $(window).width()/24;
			
			if(ccst>100){
				$("#category-header").slideUp();
			}
			else if(ccst<100){
				$("#category-header").slideDown();
			}
			
			if(getElementPos("co_xinpin").y<=0&&getElementPos("co_shouji").y>0){
				$("#li_xinpin").siblings().removeClass();
				$("#li_xinpin").attr("class","li_active");
			}
			else if(getElementPos("co_shouji").y<=0&&getElementPos("co_dianshi").y>0){
				$("#li_shouji").siblings().removeClass();
				$("#li_shouji").attr("class","li_active");
			}
			else if(getElementPos("co_dianshi").y<=0&&getElementPos("co_diannao").y>0){
				$("#li_dianshi").siblings().removeClass();
				$("#li_dianshi").attr("class","li_active");
			}
			else if(getElementPos("co_diannao").y<=0&&getElementPos("co_jiadian").y>0){
				$("#li_diannao").siblings().removeClass();
				$("#li_diannao").attr("class","li_active");
			}
			else if(getElementPos("co_jiadian").y<=0&&getElementPos("co_luyou").y>0){
				$("#li_jiadian").siblings().removeClass();
				$("#li_jiadian").attr("class","li_active");
			}
			else if(getElementPos("co_luyou").y<=0&&getElementPos("co_zhineng").y>0){
				$("#li_luyou").siblings().removeClass();
				$("#li_luyou").attr("class","li_active");
			}
			else if(getElementPos("co_zhineng").y<=0&&getElementPos("co_dianyuan").y>0){
				$("#li_zhineng").siblings().removeClass();
				$("#li_zhineng").attr("class","li_active");
			}
			else if(getElementPos("co_dianyuan").y<=0&&getElementPos("co_erji").y>0){
				$("#li_dianyuan").siblings().removeClass();
				$("#li_dianyuan").attr("class","li_active");
			}
			else if(getElementPos("co_erji").y<=0&&getElementPos("co_yinxiang").y>0){
				$("#li_erji").siblings().removeClass();
				$("#li_erji").attr("class","li_active");
			}
			else if(getElementPos("co_yinxiang").y<=0&&getElementPos("co_lipin").y>0){
				$("#li_yinxiang").siblings().removeClass();
				$("#li_yinxiang").attr("class","li_active");
			}
			else if(getElementPos("co_lipin").y<=0&&getElementPos("co_shenghuo").y>0){
				$("#li_lipin").siblings().removeClass();
				$("#li_lipin").attr("class","li_active");
			}
			else if(getElementPos("co_shenghuo").y<=0&&getElementPos("co_mifenka").y>0){
				$("#li_shenghuo").siblings().removeClass();
				$("#li_shenghuo").attr("class","li_active");
			}
			else if(getElementPos("co_mifenka").y<=0){
				$("#li_mifenka").siblings().removeClass();
				$("#li_mifenka").attr("class","li_active");
			}
	
			}
	
		function getElementPos(elementId) {
			var ua = navigator.userAgent.toLowerCase();
			var isOpera = (ua.indexOf('opera') != -1);
			var isIE = (ua.indexOf('msie') != -1 && !isOpera); // not opera spoof
			var el = document.getElementById(elementId);
			if(el.parentNode === null || el.style.display == 'none') {
				return false;
			}
			var parent = null;
			var pos = [];
			var box;
			if(el.getBoundingClientRect) //IE
			{
				box = el.getBoundingClientRect();
				var scrollTop = Math.max(document.documentElement.scrollTop, document.body.scrollTop);
				var scrollLeft = Math.max(document.documentElement.scrollLeft, document.body.scrollLeft);
				return {
					x: box.left + scrollLeft,
					y: box.top + scrollTop
				};
			} else if(document.getBoxObjectFor) // gecko   
			{
				box = document.getBoxObjectFor(el);
				var borderLeft = (el.style.borderLeftWidth) ? parseInt(el.style.borderLeftWidth) : 0;
				var borderTop = (el.style.borderTopWidth) ? parseInt(el.style.borderTopWidth) : 0;
				pos = [box.x - borderLeft, box.y - borderTop];
			} else // safari & opera   
			{
				pos = [el.offsetLeft, el.offsetTop];
				parent = el.offsetParent;
				if(parent != el) {
					while(parent) {
						pos[0] += parent.offsetLeft;
						pos[1] += parent.offsetTop;
						parent = parent.offsetParent;
					}
				}
				if(ua.indexOf('opera') != -1 || (ua.indexOf('safari') != -1 && el.style.position == 'absolute')) {
					pos[0] -= document.body.offsetLeft;
					pos[1] -= document.body.offsetTop;
				}
			}
			if(el.parentNode) {
				parent = el.parentNode;
			} else {
				parent = null;
			}
			while(parent && parent.tagName != 'BODY' && parent.tagName != 'HTML') { // account for any scrolled ancestors
				pos[0] -= parent.scrollLeft;
				pos[1] -= parent.scrollTop;
				if(parent.parentNode) {
					parent = parent.parentNode;
				} else {
					parent = null;
				}
			}
			return {
				x: pos[0],
				y: pos[1]
			};
		}
		
		$("#li_xinpin").click(function(){
			$("#category-content").scrollTo("#co_xinpin",800);
		});
		$("#li_shouji").click(function(){
			$("#category-content").scrollTo("#co_shouji",800);
		});
		$("#li_dianshi").click(function(){
			$("#category-content").scrollTo("#co_dianshi",800);
		});
		$("#li_diannao").click(function(){
			$("#category-content").scrollTo("#co_diannao",800);
		});
		$("#li_jiadian").click(function(){
			$("#category-content").scrollTo("#co_jiadian",800);
		});
		$("#li_luyou").click(function(){
			$("#category-content").scrollTo("#co_luyou",800);
		});
		$("#li_zhineng").click(function(){
			$("#category-content").scrollTo("#co_zhineng",800);
		});
		$("#li_dianyuan").click(function(){
			$("#category-content").scrollTo("#co_dianyuan",800);
		});
		$("#li_erji").click(function(){
			$("#category-content").scrollTo("#co_erji",800);
		});
		$("#li_yinxiang").click(function(){
			$("#category-content").scrollTo("#co_yinxiang",800);
		});
		$("#li_lipin").click(function(){
			$("#category-content").scrollTo("#co_lipin",800);
		});
		$("#li_shenghuo").click(function(){
			$("#category-content").scrollTo("#co_shenghuo",800);
		});
		$("#li_mifenka").click(function(){
			$("#category-content").scrollTo("#co_mifenka",800);
		});

	})
</script>

<div id="content">
	<div id="category-header">
		<a href="/">
			<div id="category-header-backicon" class="col-xs-1">
				<img src="/images/icon_back_n.png" />
			</div>
		</a>
		<div id="category-header-title" class="col-xs-9">
			<h2>
			商品分类
			</h2>
		</div>
		
		<a href="/search">
			<div id="category-header-searchicon" class="col-xs-1">
				<img src="/images/search_icon.png" />
			</div>
		</a>
	</div>
	
	<div id="list-ad-content">
		
		<div id="category-list">
			<ul>
				<li class="li_active" id="li_xinpin">新品</li>
				<li id="li_shouji">手机</li>
				<li id="li_dianshi">电视</li>
				<li id="li_diannao">电脑</li>
				<li id="li_jiadian">家电</li>
				<li id="li_luyou">路由</li>
				<li id="li_zhineng">智能</li>
				<li id="li_dianyuan">电源</li>
				<li id="li_erji">耳机</li>
				<li id="li_yinxiang">音箱</li>
				<li id="li_lipin">礼品</li>
				<li id="li_shenghuo">生活</li>
				<li id="li_mifenka">零售店</li>

			</ul>
		</div>
	
		<div id="category-content">
			<div id="co_xinpin" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-xinpin-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>新品上市</span>
				</div>

				<% for (var index = 0; index < details.length; index++) { %>
				<a href="/detail/<%=details[index]._id%>">
					<div class="ad-small-logo">
						<img src="<%=details[index].cpic%>"/>
						<p><%=details[index].name%></p>
					</div>
				</a>
				<% } %>
			</div>
		
			<div id="co_shouji" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-shouji-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>小米手机</span>
				</div>
				<% for (var index = 0; index < categories.phone.length; index++) { %>
				<a href="/detail/<%=categories.phone[index]._id%>">
					<div class="ad-small-logo">
						<img src="<%=categories.phone[index].cpic%>"/>
						<p><%=categories.phone[index].name%></p>
					</div>
				</a>
				<% } %>

			</div>
		
			<div id="co_dianshi" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-dianshi-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>电视</span>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/32-43英寸.png"/>
					<p>32-43英寸</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/49英寸.png"/>
					<p>49英寸</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/55-60英寸.png"/>
					<p>55-60英寸</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/65英寸.png"/>
					<p>65英寸</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/70英寸.png"/>
					<p>70英寸</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/150英寸.png"/>
					<p>150英寸</p>
				</div>

			</div>
		
			<div id="co_diannao" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-diannao-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>电脑</span>
				</div>
				<% for (var index = 0; index < categories.notebook.length; index++) { %>
				<a href="/detail/<%=categories.notebook[index]._id%>">
					<div class="ad-small-logo">
						<img src="<%=categories.notebook[index].cpic%>"/>
						<p><%=categories.notebook[index].name%></p>
					</div>
				</a>
				<% } %>
				
				<div class="ad-title">
					<span>配件及其他</span>
				</div>
				
				<div class="ad-small-logo">
					<img src="/images/category/鼠标鼠标垫.jpg"/>
					<p>鼠标/鼠标垫</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/机械键盘.png"/>
					<p>机械键盘</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/内胆包.png"/>
					<p>内胆包</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/平板保护类.png"/>
					<p>平板保护类</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/转接线电源.png"/>
					<p>转接线/电源</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/随身WiFi.png"/>
					<p>随身WiFi</p>
				</div>
				
				
			</div>
		
			<div id="co_jiadian" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-jiadian-logo.jpg"/>
				</div>
				<div class="ad-title">
					<span>家电</span>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/电饭煲.png"/>
					<p>电饭煲</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/净水器.png"/>
					<p>净水器</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/净化器.png"/>
					<p>净化器</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/电水壶.png"/>
					<p>电水壶</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/灯具.png"/>
					<p>灯具</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/空调伴侣.png"/>
					<p>空调伴侣</p>
				</div>
			</div>
		
			<div id="co_luyou" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-luyou-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>路由</span>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/路由器3G.jpg"/>
					<p>路由器3G</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/路由器3.jpg"/>
					<p>路由器3</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/路由器3c.png"/>
					<p>路由器3c</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/路由器HD.png"/>
					<p>路由器HD</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/路由器Pro.png"/>
					<p>路由器Pro</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/WiFi放大器.jpg"/>
					<p>WiFi放大器</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/电力猫.png"/>
					<p>电力猫</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/线材.png"/>
					<p>线材</p>
				</div>

			</div>

			<div id="co_zhineng" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-zhineng-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>智能</span>
				</div>
				<% for (var index = 0; index < categories.smart.length; index++) { %>
				<a href="/detail/<%=categories.smart[index]._id%>">
					<div class="ad-small-logo">
						<img src="<%=categories.smart[index].cpic%>"/>
						<p><%=categories.smart[index].name%></p>
					</div>
				</a>
				<% } %>

			</div>
			
			<div id="co_dianyuan" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-dianyuan-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>电源</span>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/插线板.png"/>
					<p>插线板</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/移动电源.jpg"/>
					<p>移动电源</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/智能插座.jpg"/>
					<p>智能插座</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/电池.png"/>
					<p>电池</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/电源配件.png"/>
					<p>电源配件</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/充电器.png"/>
					<p>充电器</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/品牌移动电源.png"/>
					<p>品牌移动电源</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/电源套装.png"/>
					<p>电源套装</p>
				</div>

			</div>
			
			<div id="co_erji" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-erji-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>耳机</span>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/线控耳机.png"/>
					<p>线控耳机</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/蓝牙耳机.jpg"/>
					<p>蓝牙耳机</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/头戴式耳机.jpg"/>
					<p>头戴式耳机</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/品牌耳机.png"/>
					<p>品牌耳机</p>
				</div>

			</div>
			
			<div id="co_yinxiang" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-yinxiang-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>音箱</span>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/蓝牙音箱.png"/>
					<p>蓝牙音箱</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/电视音响.jpg"/>
					<p>电视音响</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/音乐闹钟.jpg"/>
					<p>音乐闹钟</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/网络收音机.jpg"/>
					<p>网络收音机</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/网络音箱.png"/>
					<p>网络音响</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/配件.png"/>
					<p>配件</p>
				</div>

			</div>
			
			<div id="co_lipin" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-lipin-logo.jpg"/>
				</div>
				<div class="ad-title">
					<span>礼品</span>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/送长辈.png"/>
					<p>送长辈</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/送孩子.png"/>
					<p>送孩子</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/送男生.png"/>
					<p>送男生</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/送女生.png"/>
					<p>送女生</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/优惠套装.png"/>
					<p>优惠套装</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/新品.png"/>
					<p>新品</p>
				</div>

			</div>
			
			<div id="co_shenghuo" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-shenghuo-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>生活</span>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/运动鞋.png"/>
					<p>运动鞋</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/服饰.jpg"/>
					<p>服饰</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/旅行箱.png"/>
					<p>旅行箱</p>
				</div>

			</div>
			
			<div id="co_mifenka" class="ad-content">
				<div class="ad-title-logo">
					<img src="/images/category/category-mifenka-logo.webp"/>
				</div>
				<div class="ad-title">
					<span>零售店</span>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/小米之家.png"/>
					<p>小米之家</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/服务网点.png"/>
					<p>服务网点</p>
				</div>
				<div class="ad-small-logo">
					<img src="/images/category/零售网点.png"/>
					<p>零售网点</p>
				</div>
				

			</div>
		
		</div>

	</div>

</div>