<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>小mi商城</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/zk.css" />
		<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>

	</head>

	<body>
		<!--
		作者：吴凡
		时间：2017-07-14
		描述：购物车页
	-->
		<div class="wrapper">
			<div class="wf_head">
				<a href="javascript:goBack()">
					<div class="col-xs-2" id="back_button">
						<img src="/images/details/icon_back.png" />
					</div>
				</a>		
				<div class="col-xs-8" id="wf_head_content">购物车</div>
				<a href="/search">
					<div class="col-xs-2" id="search_botton">
						<img src="/images/search_icon.png" />
					</div>
				</a>
			</div>
			<div class="content row" style="padding-top: 0">
				<div class="cart_list">
					<ul>
						<% for (var index = 0; index < details.length; index++) {%>
						<li class="wf_item">
							<div class="col-xs-2 wf_checkbox" check="0"></div>
							<div class="col-xs-3 wf_goods"><img src="<%=details[index].url %>"></div>
							<div class="col-xs-7 goods_element">
								<div class="wf_goods_info">
									<%=details[index].goodsName %>
								</div>
								<div class="wf_goods_price" value="<%=details[index].goodsPrice %>">售价
									<%=details[index].goodsPrice %>
								</div>
								<div class="wf_goods_counts">
									<div class="col-xs-5 wf_input">
										<div class="input_sub col-xs-4">-</div>
										<div class="input_value col-xs-4" value='<%=details[index].goodsCount%>'><%=details[index].goodsCount%></div>
										<div class="input_add col-xs-4">+</div>
									</div>
									<div class="col-xs-2"></div>
									<div class="goods_delete col-xs-1 glyphicon glyphicon-trash" id="<%=index %>">

									</div>
								</div>
							</div>
						</li>
						<%}%>
					</ul>
				</div>
			</div>
			<div class="wf_footer">
				<div class="col-xs-4">
					<div class="all_counts" value="0">共0件 金额/元</div>
					<div class="all_price" value="0">0</div>
				</div>
				<div class="col-xs-4 shop_button" onclick="window.location.reload('/')">继续购物</div>
				<div class="col-xs-4 clear_button">去结算</div>
			</div>
		</div>
	</body>

</html>
